<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SignIn || Intro</title>
    <!-- Bootstrap -->
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
        rel='stylesheet' type='text/css'>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/responsive.css" rel="stylesheet">
</head>

<body>

    <div class="main_wrapper">
        <div class="header inner_header">
            <div class="container">
                <div class="header_inner">
                    <div class="logo">
                        <a href="/"><img src="images/logo.png" alt="" /></a>
                    </div>
                    <div class="navigation_section">
                        <div class="main_nav">
                            <nav class="navbar navbar-default">

                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>

                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/howitsworks">How it works</a></li>
                                        <li><a href="#">Contact us</a></li>

                                    </ul>

                                </div><!-- /.navbar-collapse -->

                            </nav>
                        </div>
                        <div class="nav_login_section">
                            <a href="/signin" class="login">Login</a>
                            <a href="/signup" class="signup">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="signin_page">
            <div class="container">
                <h2>Forget Password</h2>
                <div class="login_content">
                    <div style="    margin-bottom: 9.5%;" class="login_box">

                        <div class="login_input_box">
                            <input id="email" type="text" class="login_input_field" placeholder="Email Address">
                        </div>

                        <div class="login_btn">
                            <button onclick="forgetPassword();" class="signin">Submit</button>

                        </div>
                        <div id="loader" class="loader loader-default "></div>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <div class="footer">
        <div class="container">
            <div class="footer_inner">
                <div class="footer_nav">
                    <ul>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms & Conditions</a></li>
                        <li><a href="/faq">FAQ</a></li>

                    </ul>
                </div>
                <div class="copy_right">
                    @ Copyright Intro 2020 All Rights Reserved
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"
        integrity="sha512-uE2UhqPZkcKyOjeXjPCmYsW9Sudy5Vbv0XwAVnKBamQeasAVAmH6HR9j5Qpy6Itk1cxk+ypFRPeAZwNnEwNuzQ=="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css-loader/3.3.3/css-loader.css" integrity="sha512-HrLBWHEIRcc9ZemiLhR34DVdkr81NVqhOtT1fIZGdcY5UmC5JzJAEwuj9B/fcNA6huJ3NQ8KV67CmdM/3H2H3g==" crossorigin="anonymous" />
    <script src="../../js/constant.js"></script>
    <script src="../js/user.js"></script>
    <!---------------------------Custom Jque"y-------------------------------------->
    <script src="js/custom.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>